.Game {
    text-align: center;
}
.Main-Canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}
.Game-Menu {
	position: absolute;
	left: 70%;
	z-index: 1;
	pointer-events: none;
}
.Editor-Keys {
	position: absolute;
	left: 5%;
	z-index: 1;
	font-size: 0.6em !important;
    text-align: left;
	text-shadow: 1px 1px #c2c2c2;
	pointer-events: none;
}
